@charset "utf-8";

.tt-sdk-bg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, .5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.tt-sdk-modal {
    padding: 46px 64px;
	background-color: #fff;
    border-radius: 12px;
    min-width: 480px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	position: relative;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.tt-sdk-modal .tt-sdk-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tt-sdk-modal .tt-sdk-header > img {
    display: block;
}

.tt-sdk-modal .tt-sdk-header > h4 {
    color: #5c49a7;
    font-size: 24px;
    margin-left: 16px;
}

.tt-sdk-modal .tt-sdk-body {
    margin-top: 46px;
    text-align: center;
}

.tt-sdk-modal .tt-sdk-body p {
    color: #000;
    font-size: 16px;
    line-height: 1.6;
}

.tt-sdk-modal .tt-sdk-body .tt-sdk-bold {
    font-weight: bold;
}

.tt-sdk-modal .tt-sdk-button {
    border-radius: 42px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    width: 172px;
}

.tt-sdk-modal .tt-sdk-button.red {
    background-color: #f75259;
}

.tt-sdk-modal .tt-sdk-button.gray {
    background-color: #adadad;
}

.tt-sdk-modal .tt-sdk-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tt-sdk-modal .tt-sdk-footer .tt-sdk-button {
    margin-right: 12px;
}

.tt-sdk-modal .tt-sdk-footer .tt-sdk-button:last-child {
    margin-right: 0;
}

.tt-sdk-modal .tt-sdk-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}