* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

#wrap { 
    width: 1000px;
    margin: 0 auto;
    background: #ccc;
}

/* header */
#header {}
#header h2 {
    float: left;
    padding: 15px 0 10px;
}
#header h2 img {
    width: 110px;
}
#header .nav {
    float: right;
    background: #ddd;
}
#header .nav li {
    float: left;
    position: relative;
    width: 160px;
    text-align: center;
}
#header .nav li a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 24px 20px 20px 20px;
}
#header .nav li a:hover {
    background: #666;
}
#header .nav li ul.submenu {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 100;
    display: none;

}
#header .nav li ul.submenu li {}
#header .nav li ul.submenu li a {
    padding: 10px;
    background: #888;
}

/* banner */
#banner {
    height: 389px;
    overflow: hidden;
}
#banner img {
    width: 100%;
    display: block;
}
#banner .slideList {
    width: 3000px;
    z-index: 50;
    position: relative;
}
#banner .slideList .sliderImg {
    position: relative;
    float: left;
    overflow: hidden;
    width: 1000px;
}
#banner .slideList .sliderImg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}


/* content1 */
#content1 {
    margin-top: 20px;
    
}
#content1 .right {
    float: left;
    width: 49%;
    padding: 20px;
    background: #f2f2f2;
    background: url(../img/imgIndex2/article1.jpg) no-repeat right 20px center;
    background-size: 80px;
    box-sizing: border-box;
    margin-right: 2%;
    background-color: #f2f2f2;
}
#content1 .right .title {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: bold;
}
#content1 .right .desc {
    font-size: 16px;
    padding-bottom: 10px;
    color: #666;
}

#content1 .left {
    float: left;
    width: 49%;
    padding: 20px;
    background: #f2f2f2;
    background: url(../img/imgIndex2/article2.jpg) no-repeat right 20px center;
    background-size: 80px;
    box-sizing: border-box;
    margin-right: 0;
    background-color: #f2f2f2;
}
#content1 .left .title {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: bold;
}
#content1 .left .desc {
    font-size: 16px;
    padding-bottom: 10px;
    color: #666;
}

#content1 .left .more em {
    font-style: normal;
    color: #666;
    font-size: 14px;
}

/* content2 */
#content2 {
    margin-top: 30px;
}
.tap_menu  h2 {
    font-size: 24px;
}
.tap_menu .best figure {
    float: left;
    width: 32%;
    margin-right: 2%;
}
.tap_menu .best figure img {
    width: 100%;
}
.tap_menu .best figure:last-child {
    margin-right: 0;
}
.tap_menu  .tap_btn ul {
    overflow: hidden;
}
.tap_menu .tap_btn li {
    float: left;
    margin-right: 10px;
}
.tap_menu .tap_btn li.active a {
    color: #000;
}
.tap_menu .tap_btn li a {
    color: #666;
    font-size: 24px;
    display: block;
    padding-bottom: 15px;
}


/* layer */
.layer_bg {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.layer {
    display: none;
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2000;
    border: 3px solid #000;
}
.layer h2 {
    padding: 20px;
    color: #000;

}
.layer a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


