body {
    background: #f5f5f5;
}

.login__box.container {
    width: 388px;
    margin: 0 auto;
}

/* login__inner */
.login__inner {
    width: 550px;
    background-color: #fff;
    margin: 0 auto;
}

.login__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login__box {
    height: 397px;
    margin: 0 auto;
    background: #fff;
}

.login__box h2 {
    text-align: center;
    margin: 30px 0 20px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #555555;
}

.login__box h2 em {
    color: #388fc0;
}

.login__box span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    color: #888888;
}

.login__box .input__header {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 22px;
    color: #777777;
}

.login__box .login__header h2 {
    margin-bottom: 20px;
}

.login__box .login__desc {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    display: inline-block;
    color: #888888;
    margin-bottom: 20px;
}

.login__box .input__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #888888;
    margin-bottom: 6px;
    text-align: left;
}

.login__box .input__style2 {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.login__box .join__info {
    display: flex;
    justify-content: space-between;
}

.login__box .join__info .join__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    display: inline-block;
    text-align: right;
    color: #195eb1;
    margin-bottom: 10px;
    padding-left: 10px;
}

.login__box .input__button {
    width: 100%;
    height: 45px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(180deg, #388fc0 0%, #195eb1 100%);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login__box .join__button {
    width: 100%;
    height: 45px;
    display: block;
    background: #fff;
    color: #3f72af;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    border: 1px solid #777777;
    border-radius: 10px;
    margin: 0 auto;
}

.login__box > p {
    font-size: 12px;
    line-height: 140%;
    color: #195eb1;
}

.login__box a {
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 10px;
    color: #195eb1;
}

label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 노트북 */
@media (max-width: 1220px) {
}

/* 태블릿 */
@media (max-width: 748px) {
}

/* 모바일 */
@media (max-width: 480px) {
    .login__box .login__desc {
        display: inline-block;
    }

    .login__inner {
        width: 96%;
    }
    .login__box.container {
        width: 90%;
    }
}

.Email_info {
    text-align: center;
}
