#joinAgree {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.agree__wrap {
  width: 550px;
  height: 765px;
  padding: 50px 81px;
  box-sizing: border-box;
  margin: 0 auto;
}

#joinAgree .agree__wrap > h2 {
  text-align: center;
  margin: 0 0 15px 0;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #555555;
}

#joinAgree .agree__wrap > p {
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  color: #666666;
  text-align: center;
  margin-bottom: 15px;
}

#joinAgree .agree__wrap h2 em {
  color: #388fc0;
}

#joinAgree .agree__wrap label:first-child {
  margin-bottom: 40px;
}

label {
  font-size: 14px;
  line-height: 100%;
  color: #666666;
  display: inline-block;
  text-align: left;
}

#agreeCheckAll {
  text-align: center;
}

.agree__inner > div {
  margin-bottom: 20px;
}

.agree__inner > div h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.agree__inner > div .desc {
  background-color: #f5f5f5;
  padding: 10px;
  color: #666;
  line-height: 1.5;
  font-weight: 300;
  height: 150px;
  overflow-y: scroll;
  font-size: 0.8rem;
  box-sizing: border-box;
  width: 100%;
}

.agree__inner .btn {
  width: 388px;
  height: 45px;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  line-height: 45px;
  background: linear-gradient(94.73deg, #388fc0 9.47%, #195eb1 111.9%);
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.agree__inner .btn__prev {
  width: 388px;
  height: 45px;
  color: #3f72af;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  line-height: 45px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.agree__inner .check {
  margin-top: 5px;
}

#join {
  border-bottom: 3px solid #000;
  position: relative;
  padding: 70px 0;
  background-color: #eee;
}

#join::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -9px;
}

#join h2 {
  text-align: center;
  font-size: 40px;
}

.join__inner {
  padding: 100px 200px;
}

.join__inner legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.join__box > div {
  margin-bottom: 20px;
}

.join__box > div label {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.join__box > div input {
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 300;
  box-sizing: border-box;
}

.join__btn {
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#agreeCheckAll {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

#agreeCheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.checkbox__top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.checkbox__inner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox__footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* checkbox */
input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fbfbfb;
}

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    background: linear-gradient(94.73deg, #388FC0 9.47%, #195EB1 111.9%);
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}


/* 노트북 */
@media (max-width: 1220px) {
}

/* 태블릿 */
@media (max-width: 748px) {
}

/* 모바일 */
@media (max-width: 480px) {
  .agree__wrap {
    width: 550px;
    height: 765px;
    padding: 51px 0;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .agree__inner > div .desc {
    background-color: #f5f5f5;
    padding: 10px;
    color: #666;
    line-height: 1.5;
    font-weight: 300;
    height: 150px;
    overflow-y: scroll;
    font-size: 0.8rem;
    box-sizing: border-box;
    width: 390px;
  }
}
