#header {
    width: 100%;
    height: 100px;
}
#header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header__inner h2 img{
    width: 150px;
    margin-top: 20px;

}
#header .header__inner  nav{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;

}
#header .header__inner  nav li{
   width: 150px;
}