/* cardType */

.section > h2 {
    margin-bottom: 50px;
}
.card__wrap {
    width: 100%;
}
.card__wrap .card__inner {
    display: flex;
    justify-content: space-between;

}
.card__inner .card {
    width: 24%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}
.card__inner .card span {
    border: 3px solid rgb(36, 184, 213);
    color: rgb(36, 184, 213);
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 5px;
    margin-bottom: 20px;
    display: inline-block;
}
.card__inner .card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.card__inner .card ul li {
    color: rgb(72, 68, 68);
    font-size: 12px;
    margin-bottom: 10px;
}
.card__inner .card ul li em {
    border: 1px solid rgb(0, 195, 255);
    background-color: rgb(0, 195, 255);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 10px;
}