/* modal__wrap */
.modal__wrap {}

.modal__cont {
  width: 20%;
  height: 250px;
  background: rgb(74, 74, 74);
  position: absolute;
  right: 130px;
  bottom: 130px;
  display: none;
}

.modal__cont.show {
  display: block;
}

.modal__inner {
  box-sizing: border-box;
}

.modal__header {
  color: #fff;
  height: 20px;
  background: rgb(37, 22, 255);
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.modal__closeBtn img {
  width: 20px;
  height: 20px;
}

.modal__contents {}

.modal__contents ul li {
  list-style: none;
  padding: 20px;
  font-size: 20px;
}

.modal__contents ul li a {
  text-decoration: none;
  color: #fff;
}

.modal__contents ul li:hover a {
  color: aqua;
}

.modal__btn {
  color: #fff;
  border: 1px dashed #fff;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  bottom: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__btn:hover {
  background-color: #fff;
  color: #3b3d63;
}