/* 여백 초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #222;
}

/* 목록 초기화 */
li {
    list-style: none;
}

/* 제목 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
/* 볼드체 초기화 */
strong {
    font-weight: normal;
}
/* 이텔릭체 초기화 */
em, i {
    font-style: normal;     
}
/* 테이블 초기화 */
table {
    width : 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
/* 기본셋팅 */
:root {
    font-size: 22px;
    --fontTitle: 'OKDdung';
    --fontSub: 'MapoBackpacking';
    --fontDocs:'SCoreDream';
    --white: #fff;
    --black: #000;
    --red: #c54435;
    --orange: #e5774f;
    --orange2: #EB943a;
    --bgMain: #f4b861;  /*변수 만드는 방법*/
    --bgSub: #fef2e0;
    --brown: #762917;

}
/* 레이아웃 */
body {
    background-color: var(--bgMain); /*변수 넣고 불러오는법*/
}
#header{}
#main{}

#footer {
    padding: 40px;
    text-align: center;
}
#footer a:hover {
    text-decoration: underline;
}

/* container */
.container{
    max-width: 1400px;          /*반응형도 한번에 볼 수 있음.*/
    width: 100%;
    margin: 0 auto;
}

/* main_title */
.main_title {
    margin: 200px 20px;
    border: 4px solid var(--brown);
    background-color: var(--bgSub);
    padding: 80px;
    text-align: center;
}


.main_title h1 {
    font-family: 'OKDdung';
    font-size: 60px;
    color: var(--orange);
    -webkit-text-stroke: 2px var(--brown);
    white-space: nowrap;
}
.main_title h1 strong{
    color: var(--orange2);
}
.main_title em {
    font-family: 'MapoBackpacking';
    font-size: 40px;
    color: var(--brown); 
}
.main_title p {
    font-family: var(--fontSub);
    font-size: 40px;
    color: var(--brown);
    margin-top: 50px;
}
/* main_desc */
.main_desc {
    margin: 200px 20px;
    border: 4px solid var(--brown);
    background-color: var(--bgSub);
    padding: 120px 80px 80px 80px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.main_desc .deco  {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding-top: 10px;
    white-space: nowrap;    /* 1자로 정렬시켜준다.*/
    width: 90%;
}
.main_desc .deco span{
    width: 30px;
    height: 30px;
    border: 10px solid var(--brown);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--bgMain);
    margin: 0 1%;
    position: relative;
}
.main_desc .deco span::after {
    content: '';
    width: 10px;
    height: 13px;
    background-color: var(--brown);
    position: absolute;
    left: 0;
    top: -20px;
}

.main_desc .title{
    margin-bottom: 2rem;

}
.main_desc .title h2{
    display: inline-block;
    border: 4px solid var(--brown);
    font-size: 2rem;  /*44rem*/
    padding: 0.7rem 1rem 0.5rem 80px;
    font-family: var(--fontDocs);
    font-weight: 900;
    color: var(--brown);
    position: relative;
    box-sizing: border-box;
}
.main_desc .title h2::before {
    content: '';
    width: 50px;
    height: 100%;
    background: var(--red);
    position: absolute;
    left: 0;
    top: 0;
    border-right: 4px solid var(--brown);
}
.main_desc .title p{
    font-family: var(--fontSub);
    font-size: 1.3rem;
    line-height: 1.3;
    color: var(--brown);

}
.main_desc .subTitle {}
.main_desc .subTitle ul {
    overflow: hidden;
}
.main_desc .subTitle li {
    display: inline;
    float: left;
    margin-right: -4px;
    margin-bottom: -4px;
}
.main_desc .subTitle li a {
    font-size: 0.8rem;
    font-family: var(--fontDocs);
    border: 4px solid var(--brown);
    padding: 0.5em 1em;
    display: inline-block;
}
.main_desc .subTitle li.active a {
    background-color: var(--brown);
    color: var(--white);
}
.main_desc .table {
    border: 4px solid var(--brown);
    font-family: var(--fontDocs);
    font-size: 0.7rem;
}
.main_desc .table tr th{
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: normal;
}
.main_desc .table tr th,
.main_desc .table tr td{
    border: 1px solid var(--brown);
    padding: 10px;
    text-align: center;
}
.main_desc .table tr td:nth-child(2),
.main_desc .table tr td:nth-child(3){
    text-align: left;
}
.main_desc .table table tr td span {
    font-size: 16px;
    padding-top: 4px;
}

.main_desc .table.rowTable tr td:nth-child(2),
.main_desc .table.rowTable tr td:nth-child(3){
    text-align: center;
}
.main_desc .table.rowTable .left {
    text-align: left !important;
}