  /* headerType */
.header__inner {
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

}
.header__inner .header__logo {
    width: 150px;
    height: 100px;
    margin-top: 30px;
}
.header__inner .header__menu {
    display: inline-block;
    display: flex;
    align-items: center;
}
.header__inner .header__menu li {
    display: inline;
    margin: 0px 20px;
    font-weight: 600;
}