/* reset */
* {
    padding: 0;
    margin: 0;
}
.clearfix::after,
.clearfix::before {
    content: '';
    clear: both;
    display: block;
} 
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}


/* layout */
#wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
#header {
    width: 200px;
    float: left;
}
#contents {
    width: 800px;       
    float: right;
}
#footer {
    width: 1000px;
    background: #edf2f8;
    float: left;
}

/* header */
#header img {
    width: 150px;
    margin-bottom: 50px;
}
#header ul li {
   padding: 10px;
   font-weight: bold;

}
#header ul li.active a {
    color: aqua;
}

/* banner */


/* tab */

.tabs {
    width: 100%;
    padding: 40px 0;
    height: 200px;
    position: relative;
}
.tabs ul {
    text-align: center;
}
.tabs ul li {
    display: inline;
}
.tabs img{
    width: 100px;
    margin-bottom: 10px;
}
.tabs ul li a {
    font-size: 23px;
    padding: 5px;
    color: #999;
    font-style: bold;
}
.tabs ul li.active a {
    color: #000;
}
.tabs ul li ul {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;

}
.tabs ul li ul li {
    width: 20%;
    float: left;
    box-sizing: border-box;
}
.tabs ul li ul li a {}
.tabs ul li ul li a span {
    display: block;
    font-size: 16px;
}

/* layer */
.layer {
    width: 100%;
    background: #f7f7f7;
    padding: 15px;
}
.layer > div {
    width: 32%;
    float: left;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 2%;
    margin-right: 2%;
    
}
.layer > div:first-child {
    height: 253px;
}
.layer > div:last-child {
    margin-right: 0px;
}
.layer > div h2 {
    margin-bottom: 10px;
}
.layer > div img {
    width: 100px;
    padding-bottom: 5px;
}
.layer > div ul li {}
.layer > div .more {}

/* footer */

#footer {
    padding: 20px;
    box-sizing: border-box;
}
#footer h2 {
    float: left;
}
#footer h2 img {
    width: 80px;
    padding: 10px;
}
#footer address {
    float: left;
    padding: 10px
}
#footer .sns {
    float: right;
}
#footer .sns ul {
    margin-bottom: 5px;
}
#footer .sns ul li {
    float: left;
}
#footer .sns ul li a {}
#footer .sns ul li a img {
    width: 60px;
    padding-top: 10px;
    height: 40px;
}





