/* banner */
#bannerType {}

.banner__inner {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 500px;
}

.banner__inner .banner__desc {
    width: 50%;
}

.banner__inner .banner__desc .title {
    padding-top: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 39px;
}

.banner__inner .banner__desc .desc {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
}

.banner__inner .banner__desc a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 78px;
    background: #FF3344;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}

.banner__inner .img__wrap .img01 {
    position: absolute;
    right: 0;
    top: 68px;
    height: 223px;
    width: 306px;
}

.banner__inner .img__wrap .img02 {
    position: absolute;
    right: 80px;
    top: 68px;
    z-index: -1;
    height: 362px;
    width: 362px;
    border-radius: 0px;

}