/* textType2 */
body {
    background-color: #F6F8FD;
}

.text2__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.text {
    width: 29%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.top {
    height: 195px;
    border-bottom: 1px solid #f5f5f5d7;
    margin-bottom: 20px;
}

.top .desc {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.middle {
    display: flex;
    margin-bottom: 20px;
}

.middle .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    background: url('./icons.svg') no-repeat;

}

.text:nth-child(1) .middle .icon {
    background-color: #EDEEFC;
}

.text:nth-child(2) .middle .icon {
    background-color: #F7E2E1;
    background-position: -100px 1px;
}

.text:nth-child(3) .middle .icon {
    background-color: #E4FEC9;
    background-position: -200px 1px;
}

.middle .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle .name p {
    font-size: 24px;
}

.middle .name p span {
    font-size: 18px;
}

.middle .star {
    width: 100%;
    height: 25px;
    background: url(../img/5star.svg) no-repeat;
}

.text:nth-child(2) .middle .star {
    background: url(./4star.svg) no-repeat;
}


.text:nth-child(2) .middle .star {
    background: url(./4star.svg) no-repeat;
}

.more {
    border-top: 1px solid #f5f5f5d7;
}

.more a {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
    background-color: #4B57E3;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}